@tailwind base;
@tailwind components;
@tailwind utilities;


.stroke-text {
  -webkit-text-stroke: 2px black; 
  color: white; 
}
*{
  font-family:sans-serif;
}

.flip-card {
  perspective: 1000px;
  height: 350px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  /* text-align: center; */
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 1rem;
  backface-visibility: hidden;
  border-radius: 10px;
}

.flip-card-back {
  transform: rotateY(180deg);
  overflow-y: scroll;
}
